#연산자

비식별연산자   
1.수치연산: 사칙연산  
     add() ->특별 메소드를 정의하고 객체에서  쓸 수 있다
     형변환이 자동으로 일어난다 int+float>float, int/int>float

2.대입연산: assign, 할당 '='
      변수=값
      자긱 자신에게 대입하는 연산> +=, -=, *=, /=

3.비교연산: '=','=='
            '!=' '>=' '<='

        리스트의 비교 '=='> 내용이 같은가? 
        리스트의 주소 'id()' 값이 같은가? ->메모리의 영역이 같은가?  

4.논리연산  

     and,or,not
    &,&&


식별연산자

In [36]:
lunch1=['주먹밥','치킨','칼국수']
lunch2=['주먹밥','치킨','칼국수']
lunch1==lunch2

True

In [38]:
id(lunch1)==id(lunch2) #주소비교

False

In [39]:
lunch1 is lunch2 #주소비교

False

In [44]:
a=5
#a= a + 5
a += 5

In [45]:
a=5
b=2

In [46]:
a *= (2 + b)  # a = 5 * (2 + 2)
a

20

In [12]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 0,
  'avg': 0.0,
  'order': 0},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 0,
  'avg': 0.0,
  'order': 0},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 0,
  'avg': 0.0,
  'order': 0}]

In [20]:
students[0]['total']= (students[0]['kor']+students[0]['eng']+ students[0]['math'])
students[0]['total']

255

In [17]:
students[1]['total']= students[1]['kor']+students[1]['eng']+ students[1]['math']
students[1]['total']

265

In [19]:
students[2]['total']= students[2]['kor']+students[2]['eng']+ students[2]['math']
students[2]['total']

240

In [25]:
#for문에서는 list의 요소를 하나씩 꺼낼 수 있다.
for student in students:     #students-> 0,1,2   순서는 신경쓰지말자 파이썬이 알아서 0,1,2 순서로 해준다
    student['total']= (student['kor']+student['eng']+ student['math'])
    print(student['total'])

255
265
240

In [26]:
students[0]['avg']= ((students[0]['kor']+students[0]['eng']+ students[0]['math'])/3)
students[0]['avg']

85.0

In [27]:
students[1]['avg']= ((students[1]['kor']+students[1]['eng']+ students[1]['math'])/3)
students[1]['avg']

88.33333333333333

In [28]:
students[2]['avg']= ((students[2]['kor']+students[2]['eng']+ students[2]['math'])/3)
students[2]['avg']

80.0

In [31]:
for student in students:     #students-> 0,1,2   순서는 신경쓰지말자 파이썬이 알아서 0,1,2 순서로 해준다
    student['avg']= ((student['total'])/3)
    print(student['avg'])

85.0
88.33333333333333
80.0

In [32]:
#students order 
for student in students: #students[0] 자료를 꺼낸 것이 student
    rank=1
    for other in students:
        if other['total']>student['total']:
            rank+=1
    student['order']=rank
    print(student['name'],student['order'])

김철수 2
박제동 1
홍길동 3

In [34]:
for student in students:
    print(student['name'], student['order'], student['total'], student['avg'])

김철수 2 255 85.0
박제동 1 265 88.33333333333333
홍길동 3 240 80.0

리스트에 많이 쓰는 내장함수들

In [42]:
# type(),
# sorted(),
# dir(),
# id(),
# len(),
# sum(), max(), min()

In [47]:
#Q1. [1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자

numbers = [1, 3, 5, 4, 2]
ranks = []

for hm in numbers:
    rank = 1
    for other in numbers:
        if other > hm:
            rank += 1
    ranks.append(rank)

print(ranks)

[5, 3, 1, 2, 4]

In [59]:
#cc라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자

words = ['Life', 'is', 'too', 'short']
sentence = ' '.join(words)
print(sentence)

Life is too short

딕셔너리  

문법: (키:값, 키:값, )

In [66]:
person={'이름':'alice', '나이': 25, '도시':'서울'}
person

{'이름': 'alice', '나이': 25, '도시': '서울'}

In [67]:
person2=dict(이름="Park", 나이=12, 도시="부산")
person2

{'이름': 'Park', '나이': 12, '도시': '부산'}

In [70]:
person['0']='Bob'    #key create
person        #person[2]->error

{'이름': '홍길동', '나이': 25, '도시': '서울', '0': 'Bob'}

In [71]:
type(person)

dict

In [72]:
person.items()  #리스트 생성

dict_items([('이름', '홍길동'), ('나이', 25), ('도시', '서울'), ('0', 'Bob')])

In [77]:
keys=person.items()
for k in keys:
    print(k)

('이름', '홍길동')
('나이', 25)
('도시', '서울')
('0', 'Bob')

In [73]:
person.keys()   #값말고 키만

dict_keys(['이름', '나이', '도시', '0'])

In [75]:
keys=person.keys()

In [76]:
for k in keys:
    print(k)

이름
나이
도시
0

In [78]:
#values 연습
print(person.values())

dict_values(['홍길동', 25, '서울', 'Bob'])

In [79]:
#update()는 딕셔너리에 딕셔너리를 추가합니다.
person.update(person2)
person

{'이름': 'Park', '나이': 12, '도시': '부산', '0': 'Bob'}

In [ ]:
#person3를 추가한다면?
#키가 같으므로 값이 업데이트

In [81]:
person3={'성별':'여자', '취미':'판타지'}
person.update(person3)
person

{'이름': 'Park', '나이': 12, '도시': '부산', '0': 'Bob', '성별': '여자', '취미': '판타지'}

In [102]:
store_name='바리스타 p\'s의 카페'
menu_list=['에스프레소','아메라키노','라떼']
price_list=[3000,4000,5000]                     #인덱스방식 에스프레서->3000

print('-'*50)
print(f'어서오세요 {store_name}에 오신것을 환영합니다')

for i in range(len(menu_list)):
    print(f'{i+1},{menu_list[i]} {price_list[i]}')

print('-'*50)
order_num=int(input('주문할 메뉴 번호를 입력하세요:'))-1
qty=int(input('주문할 수량을 숫자로 입력하세요:'))
amt=qty*price_list[order_num]
print(f'주문하신 메뉴는 {menu_list[order_num]}입니다. 결제하실 금액은 {amt}입니다')

--------------------------------------------------
어서오세요 바리스타 p's의 카페에 오신것을 환영합니다
1,에스프레소 3000
2,아메라키노 4000
3,라떼 5000
--------------------------------------------------

주문할 메뉴 번호를 입력하세요: 3
주문할 수량을 숫자로 입력하세요: 3

주문하신 메뉴는 라떼입니다. 결제하실 금액은 15000입니다

In [ ]:
store_name='바리스타 p\'s의 카페'
menu_list=['에스프레소','아메라키노','라떼']
price_list=[3000,4000,5000]                     #인덱스방식 에스프레서->3000

print('☕' + '-'*48 + '☕')
print(f'🌟 어서오세요! {store_name}에 오신 것을 진심으로 환영합니다 🌟')
print('📋 아래는 저희 메뉴입니다:')
print('📦' + '-'*48 + '📦')

for i in range(len(menu_list)):
    print(f'  {i+1}. {menu_list[i]} - {price_list[i]:,}원')

print('💳' + '-'*48 + '💳')
order_num=int(input('📝 주문할 메뉴 번호를 입력하세요: '))-1
qty=int(input('🔢 주문할 수량을 숫자로 입력하세요: '))
amt=qty*price_list[order_num]
print('🧾' + '-'*48 + '🧾')
print(f'✅ 주문하신 메뉴: {menu_list[order_num]}')
print(f'✅ 수량: {qty}개')
print(f'💰 결제하실 금액은 총 {amt:,}원입니다.')
print('🙏 감사합니다. 따뜻한 음료와 함께 행복한 하루 되세요!')
print('☕' + '-'*48 + '☕')

☕------------------------------------------------☕
🌟 어서오세요! 바리스타 p's의 카페에 오신 것을 진심으로 환영합니다 🌟
📋 아래는 저희 메뉴입니다:
📦------------------------------------------------📦
  1. 에스프레소 - 3,000원
  2. 아메라키노 - 4,000원
  3. 라떼 - 5,000원
💳------------------------------------------------💳

#튜플  

리스트랑 비슷, 변경 안되는 특징을 갖는다