# 파일 읽기

In [4]:
with open('abc/text.txt','w') as f:
    f.write('hello')

In [7]:
f=open('abc/text.txt','r')
f.read()
f.close()

In [20]:
with open('abc/text.txt','w',encoding='utf-8') as f:
    f.write('안녕하세요\n')   
    f.write('졸리네요\n')

In [21]:
with open('abc/text.txt','r',encoding='utf-8') as f:
    txtfile=f.read()   
    print(txtfile)

안녕하세요
졸리네요

In [22]:
with open('abc/text.txt','a',encoding='utf-8') as f:
    f.write('추가합니다\n')   
    f.write('야호')

In [24]:
with open('abc/text.txt','r',encoding='utf-8') as f:
    txtfile=f.read()   
    print(txtfile)

안녕하세요
졸리네요
추가합니다
야호

In [27]:
lines = [
    "Python 파일 입출력\n",
    "반복문을 사용하여 데이터를 저장합니다.\n",
    "데이터 처리가 편리합니다.\n"
]

with open("abc/text.txt", "w", encoding="utf-8") as file:
    for line in lines:
        file.write(line)

In [28]:
lines=["첫 번째 줄입니다\n", "두 번째 줄입니다\n","세 번째 줄입니다\n"]

with open('output.txt','w') as f:
    f.writelines(lines)

In [29]:
with open("abc/text.txt", "r", encoding="utf-8") as file:
    content = file.read()
    print(content)

Python 파일 입출력
반복문을 사용하여 데이터를 저장합니다.
데이터 처리가 편리합니다.

In [44]:
import pickle

# 직렬화할 데이터
data = {
    'name': '홍길동',
    'age': 30,
    'scores': [90, 85, 88]
}

# 직렬화하여 파일에 저장
with open('data.pickle', 'wb') as f:
    pickle.dump(data, f)

# 파일에서 역직렬화하여 읽기
with open('data.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

print(loaded_data)  # 원본 데이터가 그대로 복원됨

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [55]:
import csv
data=[['name','age'],['bob',20],['alice',15]]
data

[['name', 'age'], ['bob', 20], ['alice', 15]]

In [49]:
import json

In [54]:
# 직렬화하여 파일에 저장
with open('abc/data.json', 'w') as f:
    json.dump(data, f, ensure_ascii=False)

In [ ]:
with open('abc/data.json', 'r') as f:           #with문을 쓰면 작업이 끝난 후 자동으로 파일을 닫아줍니다
    loaded_txt = json.load(f)         #json.load(f)는 JSON 형식의 문자열을 Python 객체로 변환합니다.

print(loaded_txt)

[['name', '홍길동'], ['bob', 20], ['alice', 15]]

In [ ]:
with open('abc/data.csv', 'w') as f:
    wrt=csv.writer(f)      #파일 객체 f를 이용해 CSV 파일에 데이터를 쓰기 위한 writer 객체를 생성합니다.
    wrt.writerow(data)             #data의 각 요소를 쉼표로 구분해서 한줄씩 CSV파일에 기록

In [57]:
import pandas as pd

df = pd.DataFrame(data)  #data->DataFrame(표 형태)로 변환
df.to_csv('abc/data_df.csv')    #CSV파일로 저장(텍스트형태로 저장)
df

       0    1
0   name  age
1    bob   20
2  alice   15

In [ ]:
pd.read_csv('abc/data_df.csv')  #CSV파일을 다시 읽어서 DataFrame으로 불러오기

   Unnamed: 0      0    1
0           0   name  age
1           1    bob   20
2           2  alice   15