### 도서 정보 객체

In [1]:
class Book:
    def __init__(self, rank, title, author, price):
        self.rank = rank
        self.title = title
        self.author = author
        self.price = price

    def __str__(self):
        return f"{self.rank}, {self.title}, {self.author}, {self.price}"
    
    def to_dict(self):
        return {'rank':self.rank, 
                'title':self.title, 
                'author':self.author, 
                'price':self.price}
    
    def to_list(self):
        return [self.rank, 
                self.title, 
                self.author, 
                self.price]

In [4]:
#yesBestList > li:nth-child(1) > div > div.item_info

In [2]:
import requests
from bs4 import BeautifulSoup

url='https://www.yes24.com/product/category/daybestseller?categoryNumber=001'
res=requests.get(url)
soup=BeautifulSoup(res.content, 'html.parser')
best_list_el=soup.select('#yesBestList div.item_info')
len(best_list_el)

24

In [2]:
best_list_el[0]

<div class="item_info">
<div class="info_row info_keynote">
<span class="gd_keynote" id="spanGdKeynote">
<a class="iconC tBook" href="/24/Category/More/001014?ElemNo=13&amp;ElemSeq=1&amp;Gcode=000_030_001"><em class="txt">오늘의책</em></a>
<!-- 클래스24 상품일 경우 -->
</span>
<script type="text/javascript">
        if ($('#spanGdKeynote').children().length == 0) {
            $('#spanGdKeynote').remove();
        }
    </script>
</div>
<div class="info_row info_name">
<span class="gd_res">[도서]</span>
<a class="gd_name" href="/product/goods/143911524" onclick="wiseLogV2('BS', '003_006_001', ''); ">혼모노</a>
<a class="bgYUI ico_nWin" href="/product/goods/143911524" onclick="wiseLogV2('BS', '003_006_001', ''); " target="_blank">혼모노 새창이동</a>
</div>
<div class="info_row info_pubGrp">
<span class="authPub info_auth" onclick="wiseLogV2('BS', '003_006_002', '');">
<a href="https://www.yes24.com/product/search?domain=ALL&amp;query=%25EC%2584%25B1%25ED%2595%25B4%25EB%2582%2598&amp;authorNo=253719&amp;author=성해나" target="">성해나</a> 저
                            </span>
<span class="authPub info_pub" onclick="wiseLogV2('BS', '003_006_003', '');"><a href="https://www.yes24.com/product/search?&amp;domain=ALL&amp;company=%ec%b0%bd%eb%b9%84&amp;query=%25EC%25B0%25BD%25EB%25B9%2584">창비</a></span>
<span class="authPub info_date">2025년 03월</span>
</div>
<dl class="info_present">
<dt><em class="bgYUI ico_present">구매혜택</em></dt>
<dd>
<a href="https://event.yes24.com/template?EventNo=260529">사과 책갈피 선택가능(포인트 차감) </a>
</dd>
</dl>
<div class="info_row info_price">
<span class="txt_sale"><em class="num">10</em>%</span>
<strong class="txt_num"><em class="yes_b">16,200</em>원</strong>
<span class="txt_num dash"><em class="yes_m">18,000</em>원</span>
<span class="yPoint"><em class="bgYUI ico_point">포인트적립</em>900원</span>
</div>
<div class="info_row info_rating">
<span class="saleNum">
                                판매지수 689,622
                            </span>
<span class="rating_rvCount">
<a href="https://www.yes24.com/product/goods/143911524?ReviewYn=Y" onclick="wiseLogV2('BS', '003_006_004', '');"><em class="bit">회원리뷰</em>(<em class="txC_blue">350</em>건)</a>
</span>
<span class="rating_grade">
<span class="bgYUI tRating tRating_10">리뷰 총점</span><em class="yes_b">9.3</em>
<span class="moreRatingArea">
<span class="moreRatingBtn">
<a class="bgYUI" href="javascript:void(0);" onclick="toggleLiCont(this,$('.sGLi'),event);">정보 더 보기/감추기</a>
</span>
<span class="moreRatingLi">
<span class="moreRatingLiRow">
<ul class="yesAlertLi">
<li><em class="bl_dot bgYUI"> </em>종이책 리뷰 (155건)</li>
<li><em class="bl_dot bgYUI"> </em>eBook 리뷰 (7건)</li>
<li><em class="bl_dot bgYUI"> </em>종이책 한줄평 (161건)</li>
<li><em class="bl_dot bgYUI"> </em>eBook 한줄평 (27건)</li>
</ul>
</span>
</span>
</span>
</span>
</div>
<div class="info_row info_deli" name="delvTextArea"></div>
<div class="info_row info_tag">
<span class="tag">
<a href="https://www.yes24.com/product/search?domain=ALL&amp;query=%25ED%2595%259C%25EA%25B5%25AD%25EB%25AC%25B8%25ED%2595%2599%25EC%259D%2598%25EB%25AF%25B8%25EB%259E%2598%25EA%25B0%2580%25EB%2590%25A0%25EC%25A0%258A%25EC%259D%2580%25EC%259E%2591%25EA%25B0%2580&amp;hashNm=%ed%95%9c%ea%b5%ad%eb%ac%b8%ed%95%99%ec%9d%98%eb%af%b8%eb%9e%98%ea%b0%80%eb%90%a0%ec%a0%8a%ec%9d%80%ec%9e%91%ea%b0%80" onclick="wiseLogV2('BS', '003_006_005', ''); setTagClickExtraCode('100', '한국문학의미래가될젊은작가', '143911524','8868');">#한국문학의미래가될젊은작가</a>
</span>
<span class="tag">
<a href="https://www.yes24.com/product/search?domain=ALL&amp;query=%25EB%25AA%25B0%25EC%259E%2585%25ED%2595%2598%25EB%258A%2594%25EB%25B2%2595&amp;hashNm=%eb%aa%b0%ec%9e%85%ed%95%98%eb%8a%94%eb%b2%95" onclick="wiseLogV2('BS', '003_006_005', ''); setTagClickExtraCode('100', '몰입하는법', '143911524','6066');">#몰입하는법</a>
</span>
<span class="tag">
<a href="https://www.yes24.com/product/search?domain=ALL&amp;query=%25ED%2598%2584%25EC%258B%25A4%25EC%259D%2584%25EA%25B7%25B8%25EB%25A0%25B8%25EC%2596%25B4%25EC%259A%2594&amp;hashNm=%ed%98%84%ec%8b%a4%ec%9d%84%ea%b7%b8%eb%a0%b8%ec%96%b4%ec%9a%94" onclick="wiseLogV2('BS', '003_006_005', ''); setTagClickExtraCode('100', '현실을그렸어요', '143911524','2208');">#현실을그렸어요</a>
</span>
<span class="tag">
<a href="https://www.yes24.com/product/search?domain=ALL&amp;query=%25EB%25B8%2594%25EB%259E%2599%25EC%25BD%2594%25EB%25AF%25B8%25EB%2594%2594&amp;hashNm=%eb%b8%94%eb%9e%99%ec%bd%94%eb%af%b8%eb%94%94" onclick="wiseLogV2('BS', '003_006_005', ''); setTagClickExtraCode('100', '블랙코미디', '143911524','1722');">#블랙코미디</a>
</span>
</div>
<div class="info_row info_event">
<div class="event">
<span class="iconC freeD"><em class="txt">이벤트</em></span>
<span class="iconC"><em class="txt">선착순</em></span>
<span class="iconC"><em class="txt">사은품</em></span>
<span class="iconC"><em class="txt">기획전</em></span>
<span class="iconC"><em class="txt">초대</em></span>
<span class="txt"><a href="https://event.yes24.com/youngAuthor/2025?p=final">2025 젊은 작가 투표 1위, 조예은!</a></span>
<span class="date">(25.07.16 ~ 25.09.01)</span>
</div>
</div>
<div class="info_row info_relG">
                    관련상품 :                            <span class="relG"><a href="/product/goods/144649045">eBook <span class="relG_num">14,400원</span></a></span>
</div>
</div>

In [ ]:
#yesBestList > li:nth-child(1) > div > div.item_info > div.info_row.info_name > a.gd_name

In [ ]:
#yesBestList > li:nth-child(1) > div > div.item_info > div.info_row.info_pubGrp > span.authPub.info_auth > a

In [ ]:
#yesBestList > li:nth-child(1) > div > div.item_info > div.info_row.info_price > strong > em

In [6]:
book_list=[]
for i,item in enumerate(best_list_el):
    title=item.select_one('div.info_name>a').text
    author=item.select_one('.info_auth>a').text
    price=item.select_one('div.info_price .txt_num').text
    book_list.append(Book(i+1,title,author,price))
    
for book in book_list:
    print(book)

1, 혼모노, 성해나, 16,200원
2, 가공범, 히가시노 게이고, 19,800원
3, 류수영의 평생 레시피, 류수영, 22,500원
4, 편안함의 습격, 마이클 이스터, 19,800원
5, 2025 큰별쌤 최태성의 별별한국사 기출 500제 한국사능력검정시험 심화(1,2,3급), 최태성, 17,550원
6, 다크 심리학, 다크 사이드 프로젝트, 19,710원
7, 자몽살구클럽, 한로로, 10,800원
8, 박곰희 연금 부자 수업, 박곰희, 18,900원
9, ETS 토익 정기시험 기출문제집 1000 Vol. 4 LC, ETS, 17,820원
10, ETS 토익 정기시험 기출문제집 1000 Vol. 4 RC, ETS, 17,820원
11, 2025 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 상, 최태성, 14,850원
12, 2025 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 하, 최태성, 14,400원
13, 안녕이라 그랬어, 김애란, 15,120원
14, 사기열전 1,2 세트, 사마천, 45,900원
15, 푸른 사자 와니니 8, 이현, 12,420원
16, 마흔, 더 늦기 전에 생각의 틀을 리셋하라, 박근필, 16,020원
17, 모순, 양귀자, 11,700원
18, 단 한 줄만 내 마음에 새긴다고 해도, 나민애, 21,420원
19, 소년이 온다, 한강, 13,500원
20, 해커스 토익 기출 VOCA (보카), David Cho, 11,610원
21, 료의 생각 없는 생각, 료, 18,000원
22, 청춘의 독서, 유시민, 17,010원
23, 첫 여름, 완주, 김금희, 15,300원
24, 어른의 행복은 조용하다, 태수, 16,020원

In [44]:
query='''
CREATE TABLE IF NOT EXISTS BOOKS(
 RANK INTEGER PRIMARY KEY,
 TITLE TEXT,
 AUTHOR TEXT,
 PRICE INTEGER
)
'''

In [47]:
import sqlite3
conn=sqlite3.connect('my_database.db')
cursor=conn.cursor()
#cursor.execute(query)
#conn.commit()
#conn.close()

In [48]:
ins_query='''
INSERT INTO books (rank,title,author,price) VALUES (?,?,?,?)
'''
for book in book_list:
  cursor.execute(ins_query, book.to_list())
    
conn.commit()
conn.close()

In [ ]:
# db table 생성

In [49]:
def fetch_book_list_from_db():
    conn=sqlite3.connect('my_database.db')
    cursor=conn.cursor()
    try:
        rows=cursor.execute('select * from books')
        rows=cursor.fetchall()
        return rows
    finally:
        conn.close()

In [50]:
books = fetch_book_list_from_db()
for book in books:
  print(book)

(1, '혼모노', '성해나', '16,200원')
(2, '가공범', '히가시노 게이고', '19,800원')
(3, '류수영의 평생 레시피', '류수영', '22,500원')
(4, '편안함의 습격', '마이클 이스터', '19,800원')
(5, '2025 큰별쌤 최태성의 별별한국사 기출 500제 한국사능력검정시험 심화(1,2,3급)', '최태성', '17,550원')
(6, '다크 심리학', '다크 사이드 프로젝트', '19,710원')
(7, '자몽살구클럽', '한로로', '10,800원')
(8, '박곰희 연금 부자 수업', '박곰희', '18,900원')
(9, 'ETS 토익 정기시험 기출문제집 1000 Vol. 4 LC', 'ETS', '17,820원')
(10, 'ETS 토익 정기시험 기출문제집 1000 Vol. 4 RC', 'ETS', '17,820원')
(11, '2025 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 상', '최태성', '14,850원')
(12, '2025 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 하', '최태성', '14,400원')
(13, '안녕이라 그랬어', '김애란', '15,120원')
(14, '사기열전 1,2 세트', '사마천', '45,900원')
(15, '푸른 사자 와니니 8', '이현', '12,420원')
(16, '마흔, 더 늦기 전에 생각의 틀을 리셋하라', '박근필', '16,020원')
(17, '모순', '양귀자', '11,700원')
(18, '단 한 줄만 내 마음에 새긴다고 해도', '나민애', '21,420원')
(19, '소년이 온다', '한강', '13,500원')
(20, '해커스 토익 기출 VOCA (보카)', 'David Cho', '11,610원')
(21, '료의 생각 없는 생각', '료', '18,000원')
(22, '청춘의 독서', '유시민', '17,010원')
(23, '첫 여름, 완주', '김금희', '15,300원')
(24, '어른의 행복은 조용하다', '태수', '16,020원')

### 여러페이지 가져오기

https://www.yes24.com/product/category/daybestseller?categoryNumber=001

In [4]:
base_url = 'https://www.yes24.com/product/category/bestseller?categoryNumber=001&pageSize=24&pageNumber='
page_no=3
for page in range(1,page_no+1):
    url=f'{base_url}{page}'
    print(url)

https://www.yes24.com/product/category/bestseller?categoryNumber=001&pageSize=24&pageNumber=1
https://www.yes24.com/product/category/bestseller?categoryNumber=001&pageSize=24&pageNumber=2
https://www.yes24.com/product/category/bestseller?categoryNumber=001&pageSize=24&pageNumber=3

In [5]:
base_url = 'https://www.yes24.com/product/category/bestseller?categoryNumber=001&pageSize=24&pageNumber='
page_no = 3
book_list = []
for page in range (1, page_no+1):
    url = f'{base_url}{page}'
    # print(url)
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    best_list_el = soup.select('#yesBestList div.item_info')

    #요소 추출
    for i, item in enumerate(best_list_el):
        title = item.select_one('div.info_name > a').text
        author = item.select_one(' .info_auth > a').text
        price = item.select_one('div.info_price .txt_num').text
        book_list.append(Book(i+1,title,author,price))

len(book_list)

72

## 1. SQLite 연결

In [20]:
import sqlite3
import mysql.connector

In [21]:
sqlite_conn=sqlite3.connect('my_database.db')
sqlite_cursor=sqlite_conn.cursor()

In [15]:
# (3) 크롤링 결과 72개를 먼저 SQLite에 삽입
sqlite_cursor.executemany(
    "INSERT OR REPLACE INTO BOOKS ('rank', title, author, price) VALUES (?, ?, ?, ?)",
    [ [i+1, book.title, book.author, book.price] for i, book in enumerate(book_list) ]
)
sqlite_conn.commit()

sqlite_cursor.execute("SELECT * FROM BOOKS")
rows = sqlite_cursor.fetchall()
print("SQLite 데이터 개수:", len(rows))

SQLite 데이터 개수: 72

## 2. MySQL 연결

In [22]:
mysql_conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='목록데이터수집',
    charset='utf8mb4'
)
mysql_cursor = mysql_conn.cursor()

In [ ]:
# 3. 기존 BOOKS 테이블 완전히 삭제(DROP TABLE)
# mysql_cursor.execute('DROP TABLE IF EXISTS BOOKS')

## 3.MySQL에 BOOKS 테이블이 없다면 생성

In [28]:
mysql_cursor.execute('''
CREATE TABLE IF NOT EXISTS BOOKS (
    `rank` INT PRIMARY KEY,
    title VARCHAR(255),
    author VARCHAR(255),
    price VARCHAR(20)
)
''')

## 4.SQLite에서 데이터 가져오기

In [17]:
sqlite_cursor.execute("SELECT * FROM BOOKS")
rows = sqlite_cursor.fetchall()

## 5.데이터 삽입

In [30]:
for row in rows:
    # price 문자열이면 정제 필요: '16,200원' → '16200'
    id, title, author, price = row
    clean_price = price.replace(',', '').replace('원', '')

    
    try:
        mysql_cursor.execute(
            "INSERT INTO BOOKS (`rank`, title, author, price) VALUES (%s, %s, %s, %s)",
            (id, title, author, clean_price)
        )
    except Exception as e:
        print(f'삽입 오류: {e}, 데이터: {row}')

mysql_conn.commit()

print("완료")

완료

In [31]:
# 데이터 정상 입력됐는지 확인
mysql_cursor.execute("SELECT * FROM BOOKS")
result = mysql_cursor.fetchall()
print(f"데이터 개수: {len(result)}")
for r in result[:5]:    # 상위 5개만 확인
    print(r)

데이터 개수: 72
(1, '혼모노', '성해나', '16200')
(2, '류수영의 평생 레시피', '류수영', '22500')
(3, '가공범', '히가시노 게이고', '19800')
(4, '돌비공포라디오 더 레드', '돌비', '17820')
(5, '2025 큰별쌤 최태성의 별별한국사 기출 500제 한국사능력검정시험 심화(1,2,3급)', '최태성', '17550')

In [32]:
#sqlite_conn.commit()
sqlite_conn.close()