#함수

-인자=매개변수,입력,파라미터  
-반환값=리턴값,결과값  
-함수이름  

-함수 정의>호출

In [7]:
#리턴이 있는 경우
def my_func():
    print('my first function')
    print('hello')
    print('good job')
    return 'hello'
my_func()

my first function
hello
good job

'hello'

In [2]:
type(my_func)

function

In [54]:
print(my_func_var)

hello

In [55]:
my_func_var2=my_func()
my_func_var2

my first function
hello
good job

'hello'

In [56]:
my_func_var2

'hello'

In [10]:
my_func()

my first function
hello
good job

'hello'

#입력값이 있는 함수

In [13]:
def my_calc(x):
    print(f'{x} 을(를) 계산합니다.')

In [14]:
my_calc(10)

10 을(를) 계산합니다.

In [16]:
def my_calc1(x):
    print(f'{x} 을(를) 계산합니다.')
    z=x*20
    return z

In [18]:
result=my_calc1(10)
print(result)

10 을(를) 계산합니다.
200

In [20]:
def my_calc2(x,y):
    print(f'{x}와 {y}을(를) 계산합니다.')
    add_result=x+y
    mul_result=x*y
    return add_result, mul_result

In [21]:
my_calc2(10,20)

10와 20을(를) 계산합니다.

(30, 200)

In [60]:
func_result, f2=my_calc2(10,20)
func_result

10와 20을(를) 계산합니다.

30

In [62]:
func_result10, f2 = my_calc2(10,20) #unpacking
func_result10

10와 20을(를) 계산합니다.

30

In [24]:
def my_calc3(a,lst1):
    a +=1
    lst1.append(a)
    return a

In [26]:
num=10
lst_num=[1,2,'12']

print(f'before:{num},{lst_num}')

my_calc3(num,lst_num)
print(f'after:{num},{lst_num}')

before:10,[1, 2, '12']
after:10,[1, 2, '12', 11]

In [63]:
my_calc3(a=num, lst1=lst_num)

11

In [64]:
my_calc3(lst1=lst_num, a=num, )

11

In [34]:
def greeting(name,greeting='hi'):
    print(f'{greeting},{name}')

greeting('minsu','hello')

hello,minsu

In [37]:
greeting('alice','hi')

hi,alice

In [32]:
greeting('bob')

hello,bob

In [66]:
#가변인자
def sum_all( *args ):
    return sum(args)

sum_all(1,2,3,4,5)

15

In [67]:
#def sum_all( arg1, *args , arg2):
def sum_all( arg1, arg2, *args):
    print(args)
    result = arg1+arg2+sum(args)
    return result
sum_all(1,2,3,4,5)

(3, 4, 5)

15

In [68]:
## **kargs
def print_info(**kwargs):
    for k,v in kwargs.items():
        print(f'{k}, {v}')
print_info( name='hong', age=20, city = 'seoul', nick_name='bob' )

name, hong
age, 20
city, seoul
nick_name, bob

##요일 구하는 함수 정의

In [69]:
year=2025
month=6
day=5

In [70]:
# 날짜 - 연,월,일  year=2025 month=06, day=05

total_days = 0
#년도일수 입력년도-1 * 365
#윤년인지 체크
#2월이 29일

for i in range(1,year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0

    if i%400 == 0:
        total_days += 366
    elif i%100 == 0:
        total_days += 365
    elif i%4 == 0:
        total_days += 366
    else:
        total_days += 365

print(total_days)
#월일수 입력한 월 -1 * 30
#월별 일수
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1,month):
    total_days += month_days[m]

#올해가 윤년인지
if month>=3 :
    if year%400 == 0:
        total_days += 1
    elif year%100 == 0:
        total_days += 0
    elif year%4 == 0:
        total_days += 1
    else:
        total_days += 0
        
print(total_days)

#일수 입력한 일
total_days += day

print(total_days)

#요일정하기
remain_days = total_days % 7

if remain_days == 1:
    print('월요일')
elif remain_days == 2:
    print('화요일')
elif remain_days == 3:
    print('수요일')
elif remain_days == 4:
    print('목요일')
elif remain_days == 5:
    print('금요일')
elif remain_days == 6:
    print('토요일')
else:
    print('일요일')

739251
739402
739407
목요일

In [72]:
def 윤년체크(year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0
   
    if year%400 == 0:
        return True
    elif year%100 == 0:
        return False
    elif year%4 == 0:
        return True
    else:
        return False

In [73]:
윤년체크(2028)

True

In [74]:
def 요일찾기(year, month, day):
    week_day_name = '일요일'
    total_days = 0
    
    for i in range(1,year):

        if 윤년체크(i):
            total_days += 366
        else :
            total_days += 365
        
    #print(total_days)
    
    #월일수 입력한 월 -1 * 30
    #월별 일수
    month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
    for m in range(1,month):
        total_days += month_days[m]
    
    #올해가 윤년인지
    if month>=3 :
        if 윤년체크(year):
            total_days += 1
            
    #print(total_days)
    
    #일수 입력한 일
    total_days += day
    
    #print(total_days)
    
    #요일정하기
    remain_days = total_days % 7
    
    day_names = ['일요일','월요일','화요일','수요일','목요일','금요일','토요일']
    week_day_name = day_names[remain_days]
    
        
    return week_day_name

In [75]:
year=2025
month=6
day=4

day_name = 요일찾기(year, month, day)
print(f'입력하신 날짜는 {day_name}입니다.')

입력하신 날짜는 수요일입니다.

In [49]:
#성적처리 시스템

# calc_total()
# calc_everage()
# calc_order()

# print_student(students)
# print_class()#반평균, 각 곽목별 평균 출력

In [83]:
# 학생 성적 데이터
students = [
    {'name': '철수', 'kor': 90, 'eng': 80, 'math': 70},
    {'name': '영희', 'kor': 100, 'eng': 90, 'math': 95},
    {'name': '민수', 'kor': 85, 'eng': 75, 'math': 80}
]

# 총점 계산
def calc_total():
    for student in students:
        student['total'] = student['kor'] + student['eng'] + student['math']

# 평균 계산
def calc_average():
    for student in students:
        student['average'] = student['total'] / 3

# 석차 계산
def calc_order():
    for student in students:
        student['rank'] = 1  # 초기 석차
        for other in students:
            if student['average'] < other['average']:
                student['rank'] += 1

# 각 학생 정보 출력
def print_student(students):
    print("이름\t국어\t영어\t수학\t총점\t평균\t석차")
    for s in students:
        print(f"{s['name']}\t{s['kor']}\t{s['eng']}\t{s['math']}\t{s['total']}\t{s['average']:}\t{s['rank']}")

# 반 평균, 과목별 평균 출력
def print_class():
    total_kor = total_eng = total_math = 0
    for s in students:
        total_kor += s['kor']
        total_eng += s['eng']
        total_math += s['math']
    count = len(students)
    print("\n[반 평균]")
    print(f"국어: {total_kor / count:.2f}, 영어: {total_eng / count:.2f}, 수학: {total_math / count:.2f}")

# 함수 실행
calc_total()
calc_average()
calc_order()

print_student(students)
print_class()

이름	국어	영어	수학	총점	평균	석차
철수	90	80	70	240	80.0	2
영희	100	90	95	285	95.0	1
민수	85	75	80	240	80.0	2

[반 평균]
국어: 91.67, 영어: 81.67, 수학: 81.67